
@{
    ViewData["Title"] = "About";
}

<center>
    <h1>About</h1> </center>
<center>
    <br /><br /><br />
    <h1 style="background-color:DodgerBlue;">Varsity College Cape Town </h1>
</center>
<center> <img src="~/varsity.jpg" alt="Trulli" width="500" height="333"></center>


<h3> The IIE's Varsity College is an educational brand of The Independent Institute of Education. The IIE is the most accredited private higher education provider in SA and it is registered with the Department of Higher Education and Training.</h3>

<body>
    <form action ="About" method="post">
        <p> Please enter your first and last name:</p>
        <input type="text" name="Name" placeholder =Name required>
        <input type="text" name="Surname" placeholder=Surname required>
        <input type="text" name="Email" placeholder=Email required>
        <button type ="Submit"> Submit</button>
    </form>
</body>